@media (min-width: 992px) {
  .alto-100 {
    height: 100vh;
  }
}

.img-perfil {
  width: 50px;
}

.fondo {
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 85% top;
}

.navegador a {
  background-color: #7541c8;
}

.navegador a:hover {
  background-color: #51367d;
}

.bodyLanding .navegador a {
  background-color: #eee;
  color: #111;
}

.bodyLanding .navegador a:hover {
  background-color: #ccc;
  color: #333;
}

.rounded-20 {
  border-radius: 20px;
}

/**/
.bodyCalculator {
  font-family: 'Space Mono', monospace;
  font-size: 14px;
}

.bg-fondo {
  background-color: #c5e4e7;
}

.inputDiv {
  padding: 5px;
  padding-left: 15px;
  background-color: #f4fafa;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.inputDiv input {
  font-weight: bold;
  outline: none;
  border: none;
  text-align: right;
  background-color: transparent;
}

.inputDiv:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #c5e4e7;
}

.containerCalculator {
  padding: 30px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 802px;
}

@media (max-width: 840px) {
  .containerCalculator {
    width: 95%;
    padding: 20px;
  }
}

.result {
  padding: 40px 25px !important;
  border-radius: 10px;
  background-color: #00494d;
}

.btnReset {
  background-color: #26c0ab;
  color: #00494d;
  font-weight: bold;
  margin-top: 75px;
  padding: 8px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.tip, .customTip {
  padding: 8px;
}

.tip2 {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00494d;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.tip2:hover {
  background-color: #f4fafa;
  color: #00494d;
}

.customTip {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.customTip input {
  padding: 8px;
  background-color: #f4fafa;
  font-weight: bold;
  outline: none;
  border: none;
  width: 100%;
  color: #00494d;
  font-size: 16px;
  text-align: right;
}

.precio h3, .precio .h3 {
  color: #26c0ab;
  font-weight: bold;
}

.btnReset:hover {
  background-color: #c5e4e7;
}

/*Card*/
.bodyCard {
  font-family: 'Inter', sans-serif;
  background-color: #090b1a;
  color: white;
  font-size: 15px;
  margin: 0;
}

.containerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
  border-radius: 50px;
}

.previewCard {
  background-color: #1b1938;
  border-radius: 10px;
}

.accent {
  background-size: cover;
  border-radius: 0 10px 10px 0;
  width: 100%;
  height: 100%;
}

.accent div {
  width: 100%;
  height: 100%;
  background-color: #6f09af;
  border-radius: 10px 10px 0 0;
}

.divText {
  padding: 10px;
  height: 100%;
  text-align: center;
}

.divText p {
  color: rgba(255, 255, 255, 0.6);
}

.pPrincipal {
  margin-top: 30px;
}

.accent div img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  opacity: .58;
}

.divText .row {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.divText .row div h3, .divText .row div .h3 {
  font-weight: bold;
}

.divText h2, .divText .h2 {
  font-weight: bold;
}

.divText h2 span, .divText .h2 span {
  color: #aa5cdb;
}

.accent .images-desktop {
  display: none;
}

@media (min-width: 768px) {
  .previewCard {
    height: 400px;
    min-width: 650px;
    width: 75%;
  }
  .containerCard {
    margin: 0;
    height: 100vh;
  }
  .accent {
    float: right;
    width: 50%;
    height: 100%;
  }
  .accent .images-desktop {
    display: block;
  }
  .accent .images-desktop img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    opacity: .58;
  }
  .accent div {
    border-radius: 0 10px 10px 0;
  }
  .accent .images-mobile {
    display: none;
  }
  .divText {
    width: 50%;
    padding: 50px;
  }
}

/*Landing page*/
.bodyLanding {
  background-color: #674baf;
  background-image: url("../images/bg-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.containerLanding {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 15px;
}

.divLogo {
  text-align: left;
  padding-bottom: 40px;
}

.divLogo div {
  width: 40%;
}

.divLogo img {
  width: 100%;
}

.containerLanding .row {
  width: 100%;
}

.divImg img {
  width: 100%;
}

.containerLanding .divTextLanding {
  padding: 25px 15px;
}

.divTextLanding h2, .divTextLanding .h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 1.6rem;
}

.divTextLanding p {
  margin-top: 20px;
  margin-bottom: 35px;
  color: #fff;
}

.divTextLanding a {
  margin-top: 20px;
  text-decoration: none;
  padding: 12px 50px;
  border-radius: 30px;
  background-color: #fff;
  color: #674baf;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.35);
}

.divTextLanding a:hover {
  color: #fff;
  background-color: #e882e8;
}

.footerIcon a .fab {
  color: #fff;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 5px;
}

.footerIcon a .fab:hover {
  color: #e882e8;
  border: 1px solid #e882e8;
}

.footerIcon {
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .bodyLanding {
    background-size: 95%;
  }
  .bodyLanding {
    background-image: url("../images/bg-desktop.svg");
    min-height: 100vh;
  }
  .containerLanding .divTextLanding {
    text-align: left;
  }
  .divTextLanding h2, .divTextLanding .h2 {
    font-size: 2.4rem;
  }
  .divLogo div {
    width: 28%;
  }
  .containerLanding {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 60px;
  }
  .footerIcon {
    margin-right: 55px;
    text-align: right;
  }
  .containerLanding .divTextLanding {
    padding: 50px 43px;
  }
}

/*single column*/
.containerColumn {
  text-align: center;
}

.divFormColumn input {
  border-radius: 30px;
  padding: 10px 25px;
  outline: none;
  border: 1px solid #aaa;
}

.divFormColumn .row {
  width: 95%;
  margin: auto;
  text-align: left;
}

.divFormColumn .row label {
  width: auto;
  position: absolute;
  margin: 48px 10px;
  color: #ff5263;
  font-size: 12px;
}

.containerColumn div h1, .containerColumn div .h1 {
  color: #969696;
}

.containerColumn .divPrincipal {
  margin-top: 40px;
}

.containerColumn div h1 span, .containerColumn div .h1 span {
  color: #151f29;
  font-weight: bold;
}

.divFormColumn {
  margin-top: 40px;
}

.divFormColumn .row div input {
  width: 98%;
}

.divFormColumn label {
  display: block;
}

.divImageColumn {
  text-align: center;
  margin-top: 80px;
}

.divImageColumn img {
  width: 95%;
}

.divFormColumn .row .divSubmit {
  margin-top: 25px;
}

.divFormColumn .row .divSubmit input {
  background-color: #4f7df3;
  color: #ffffff;
  border: none;
}

.divFormColumn .row .divSubmit input:hover {
  background-color: rgba(79, 125, 243, 0.7);
}

.footerColumn {
  margin-top: 80px;
}

.footerColumn .divIcon a {
  text-decoration: none;
  width: 34px;
  padding: 7px 0;
  text-align: center;
  color: #4f7df3;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.footerColumn .divIcon a:hover {
  color: #fff;
  background-color: #4f7df3;
}

.footerColumn .divCopyright {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .divFormColumn .row .divSubmit {
    margin-top: 0;
  }
  .divImageColumn img {
    width: 45%;
  }
  .divFormColumn .row {
    width: 45%;
  }
  .divFormColumn .row label {
    width: auto;
    position: absolute;
    margin: 48px 30px;
    color: #ff5263;
    font-size: 1rem;
  }
}

/*!
 * Bootstrap v5.0.2 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #7541c8;
  --bs-secondary: #48556a;
  --bs-success: #198754;
  --bs-info: #ecf2f8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: white;
  --bs-dark: #19212e;
  --bs-font-sans-serif: "Barlow Semi Condensed", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #7541c8;
  text-decoration: underline;
}

a:hover {
  color: #5e34a0;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


code {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
}

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

img,
svg {
  vertical-align: middle;
}

label {
  display: inline-block;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


[type="submit"] {
  -webkit-appearance: button;
}


[type="submit"]:not(:disabled) {
  cursor: pointer;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/

progress {
  vertical-align: baseline;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 960px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #7541c8;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    -webkit-transition: none;
    transition: none;
  }
}

.nav-link:hover, .nav-link:focus {
  color: #5e34a0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

@keyframes progress-bar-stripes {
  0% {
    background-position-x: 1rem;
  }
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

/* rtl:begin:ignore */

/* rtl:end:ignore */

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-2 {
  border-width: 2px !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.m-0 {
  margin: 0 !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.lh-1 {
  line-height: 1 !important;
}

/* rtl:begin:remove */

/* rtl:end:remove */

.text-white {
  color: #fff !important;
}

.bg-primary {
  background-color: #7541c8 !important;
}

.bg-secondary {
  background-color: #48556a !important;
}

.bg-info {
  background-color: #ecf2f8 !important;
}

.bg-light {
  background-color: white !important;
}

.bg-dark {
  background-color: #19212e !important;
}

.rounded-3 {
  border-radius: 0.3rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}
/*# sourceMappingURL=custom.css.map */